body {
      margin: 0;
    }
    img{
        width: 60%;
        height: 100px;
    }
   
    .myclass{
        display:inline-flex;
        width:100%;
        height: 50px;
    }
    nav {
      /* padding: 0; */
      background-color: black;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      /* padding-top: 10px; */
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
    }

    nav ul li a:hover {
      background-color: red;
      border-radius: 6px;
    }

    nav ul li ul {
      position: absolute;
      background: black;
      display: none;
      border-radius: 6px;
    }

    nav ul li ul li a {
      padding-left:10px;
      padding-right: 80px;
    }

    nav ul li:hover ul {
      display: block;
    }
    .card{
        background-color: lightseagreen;
        width: 468px;
        margin-left: 20px;
        border: 1px solid black;
    }
    .card1{
        background-color: lightseagreen;
        width: 350px;
        margin-left: 20px;
        border: 1px solid black;
    }
    
     .cards{
        display: flex;
     }
     